
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exito</title>
</head>
<body>
    <div> 
        <div class="container" style="min-height:100vh">
            <div style="background-color:green;width:100%;height:10%;margin:0 auto; font-size:20px;color:white;text-align:center">
                Alumno Insertado
            </div>
        </div>
    </div>
</body>
</html>
